.product-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 280px;
  height: auto;
  margin: 10px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 2px 8px 0px #d0d0d0;
}

.card-image {
  width: 100%;
  height: auto;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

.current-price, .old-price {
  margin-left: 10px;
}

.title {
  text-align: center;
  padding-top: 20px;
}
